@media screen and (max-width: 450px) {
    .show-component-airport-closeBar {
        display: block !important;
    }

    #component-airport {
        height: calc(100% - 42px) !important;
        width: 100% !important;
        bottom: 0px !important;
        left: 0px !important;
        top: auto !important;
    }

    #component-airport-index {
        width: 100% !important;
    }

    #component-airport-info {
        width: 100% !important;
    }
}

#component-airport-closeBar {
    height: 42px;
    width: 100%;
    position: fixed;
    background: black;
    z-index: 20040323;
}

#component-airport-closeBar i {
    color: white;
    font-weight: 600;
    font-size: 22px;
    position: absolute;
    right: 30px;
    top: 10px;
}

#component-airport {
    height: 80%;
    width: 300px;
    background: white;
    border-radius: 3px;
    position: fixed;
    z-index: 20040323;
    right: 10px;
    top: 105px;
    overflow: auto;
}

#component-airport-menu {
    height: 50px;
    width: 100%;
    background: rgb(0, 188, 212);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#component-airport-menu div {
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    border-bottom-color: rgb(0, 188, 212);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    cursor: pointer;
}

#component-airport-menu div svg {
    display: inline-block;
    fill: rgb(255, 255, 255, 0.7);
    height: 24px;
    width: 24px;
    user-select: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-top: 12px;
}

.component-airport-menu-act {
    border-bottom-color: rgb(255, 87, 34) !important;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.component-airport-menu-act svg {
    fill: rgb(255, 255, 255) !important;
}

.component-airport-window {
    height: auto;
    width: 300px;
}

#component-airport-index hr {
    margin: -1px 0px 0px;
    height: 1px;
    border: none;
    background-color: rgb(224, 224, 224);
}

#component-airport-info hr {
    margin: -1px 0px 0px;
    height: 1px;
    border: none;
    background-color: rgb(224, 224, 224);
}

.component-airport-index-info {
    padding: 16px;
    font-weight: 500;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
}

.component-airport-index-info-content {
    display: block;
    vertical-align: top;
    white-space: normal;
    padding-right: 0px;
    padding-left: 50px;
}

#component-airport-info-error {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding-left: 16px;
    width: 100%;
    display: none;
}

#component-airport-info-ok-1span {
    border: 10px;
    box-sizing: border-box;
    display: block;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    outline: none;
    font-size: 16px;
    font-weight: inherit;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgba(175, 175, 175, 0.34);
    color: rgba(0, 0, 0, 0.87);
    line-height: 16px;
    position: relative;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

#component-airport-info-ok-1span-div {
    margin-left: 0px;
    padding: 16px 16px 16px 72px;
    position: relative;
}

#component-airport-info-ok-1span-div-btn {
    border: 10px;
    box-sizing: border-box;
    display: block;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    outline: none;
    font-size: 0px;
    font-weight: inherit;
    transform: translate3d(0px, 0px, 0px);
    position: absolute;
    overflow: visible;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    padding: 12px;
    width: 48px;
    height: 48px;
    top: 0px;
    right: 4px;
    background: none;
}
