html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main {
    height: 100%;
    width: 100%;
}

.layui-logo {
    color: #eeeeee !important;
}

.layui-layer-tab .layui-layer-title {
    overflow-y: hidden !important;
    overflow-x: auto !important;
    padding-right: 30px;
}

@media screen and (max-width: 320px) {
    .layui-layer-tab .layui-layer-title span {
        padding: 0 3px !important;
    }
}

@media screen and (max-width: 350px) {
    .layui-logo {
        width: 150px !important;
    }

    .layui-layout-left {
        left: 150px !important;
    }
}

#ads {
    height: 60px;
    width: 600px;
    position: fixed;
    margin: auto;
    right: 0px;
    left: 0px;
    bottom: 10px;
}

#ads button {
    height: 12px;
    width: auto;
    background: #eee;
    opacity: 0.3;
    position: relative;
    bottom: 63px;
    left: 570px;
    font-size: 12px;
    outline: none;
    border: none;
    cursor: pointer;
}

#ads-img {
    display: inline-block;
    height: 60px;
    width: 600px;
    background-image: url(../img/ads/laptop.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 700px) {
    #ads {
        height: 40px;
        width: 300px;
    }

    #ads button {
        left: 270px !important;
        bottom: 43px !important;
    }

    #ads-img {
        height: 40px;
        width: 300px;
        background-image: url(../img/ads/mobile.png) !important;
    }
}

.show {
    display: block !important;
}

.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
    background: none !important;
}

#world-map {
    height: 100%;
    width: 100%;
    user-select: none;
}

.anchorBL {
    display: none !important;
}

.map-info {
    display: inline-block;
    position: fixed;
    cursor: default;
    user-select: none;
    color: gray;
    font-size: 12px;
}

#plan-get-state {
    bottom: 10px;
    right: 10px;
}

#plane-count {
    bottom: 10px;
    right: 110px;
}

#map-refresh-btn span {
    position: relative;
    bottom: 2px;
}

#nav-me-childnav {
    left: -170px;
    height: auto;
    width: 250px;
    box-sizing: border-box;
    padding: 5px 20px;
    padding-bottom: 20px;
}

#left-nav-bottom {
    width: 200px;
    position: fixed;
    bottom: 0px;
}

#left-nav {
    display: none;
}

#leftnav-btn {
    cursor: pointer;
}

#leftnav-btn .layui-icon {
    font-size: 18px !important;
}
